.application {
  display: grid;
  height: 100vh;

  grid-template-rows: 1fr minmax(5em, 10fr) 1fr 1fr;
  grid-template-columns: 1fr 12fr 1fr;

  grid-column-gap: 50px;
  grid-row-gap: 10px;
}

.codeText {
  grid-column-start: 2;
  grid-row-start: 2;

  /* TODO: overflow hidden */
  overflow: scroll;
}

.typingArea {
  grid-column-start: 2;
  grid-row-start: 3;
}
